<div class="row text-center">
  <div class="col">

    <nav class="px-4 py-5">
      <ul class="d-flex flex-column gap-3 my-2" style="list-style: none; padding: 0;">
        <li><%= link_to root_path do %>
            <%= image_tag "instagram_text.png", style: "height: 3rem;cursor: pointer" %>
          <% end %>
        </li>
        <li class="d-flex align-items-center gap-3"><%= link_to root_path, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/home", width: 30 %>
            Home
          <% end %></li>
        <li class="d-flex align-items-center gap-3"><%= link_to "root_path", data: { "bs-toggle": "modal", "bs-target": "#new-post-modal" }, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/add", width: 30 %>
            Create
          <% end %></li>
        <li class="d-flex align-items-center gap-3"><%= link_to root_path, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/reels", width: 30 %>
            Reels
          <% end %></li>
        <li class="d-flex align-items-center gap-3"><%= link_to root_path, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/messages", width: 30 %>
            Messages
          <% end %></li>
        <li class="d-flex align-items-center gap-3"><%= link_to root_path, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/notifications", width: 30, style: "color:black;" %>
            Notifications
          <% end %></li>
        <li class="d-flex align-items-center gap-3"><%= link_to root_path, style: "text-decoration: none; color: inherit; display: flex; align-items:center; gap: 1rem;" do %><%= image_tag "icons/user-pp", width: 30 %>
            Profile
          <% end %></li>

      </ul>
    </nav>

  </div>
  <div class="col-8">2</div>
  <div class="col">3</div>
</div>


<!-- Modal -->
<div class="modal fade" id="new-post-modal" tabindex="-1" aria-labelledby="new-post-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-6 text-center" id="new-post-modal-label">Create a New Post</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 50vh; display: flex;align-items: center;justify-content: center; flex-direction: column; gap:1rem;">
        <%= image_tag "icons/image-gallery", width: 60 %>
        <p>Drag Photos and Videos Here</p>
        <%= form_with model: Post.new, data: { controller: "new-post-form" } do |f| %>
          <%= link_to "Select from computer", "", data: {"new-post-form-target": "selectFileButton",action: "click->new-post-form#selectFile"}, class: "btn btn-primary", id: "select-file-button" %>
          <%= f.file_field :photo, data: { "new-post-form-target": "photoFile", action: "change->new-post-form#submitForm" }, class: "d-none", id: "photo-input-select" %>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div> -->
    </div>
  </div>
</div>
