<!DOCTYPE html>
<html>
<head>
  <title>InstagramRails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path("instagram.png") %>
  <% if controller_name == "posts" && action_name == "edit" %>
    <script src="https://cdn.jsdelivr.net/gh/silvia-odwyer/pixels.js@0.8.1/dist/Pixels.js"></script>
  <% end %>
</head>

<body>
<% if user_signed_in? %>
  <div class="row text-center">
    <div class="col">

      <%= render "layouts/nav_sidebar" %>

    </div>
    <div class="col-8">
      <%= yield %>
    </div>
    <div class="col"></div>
  </div>
  <%= render "layouts/create_post_modal" %>
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
